node_modules

workspace/
**/.cache/
**/build/
**/public/build
**/playwright-report
data.db
/playground
**/tsconfig.tsbuildinfo
**/dist

# Movie assets copied during setup
exercises/**/public/posters/
exercises/**/public/videos/

# in a real app you'd want to not commit the .env
# file as well, but since this is for a workshop
# we're going to keep them around.
# .env
